<div class="sidebar sidebar-expand-lg bg-light" xmlns:sec="http://www.w3.org/1999/xhtml">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link border p-2 rounded text-dark" href="/admin/branches">Филиалы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border p-2 rounded text-dark" href="/admin/orders">Заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border p-2 rounded text-dark" href="/admin/products">Изделия</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border p-2 rounded text-dark" href="/admin/services">Услуги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border p-2 rounded text-dark" href="/admin/users">Пользователи</a>
        </li>
    </ul>
</div>
