<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Редактировать пользователя</h1>
        </div>
        <form th:action="@{/admin/users/edit(id=${id})}"
              th:method="post"
              th:object="${form}">
          <div th:each="role : ${userRoles}">
            <input class="form-check-input" type="checkbox"
                   th:field="*{roles}"
                   th:value="${role}"
                   th:checked="${form.roles.contains(role)}" />
            <small th:if="${#fields.hasErrors('roles')}"
                   th:errors="*{roles}"
                   class="text-danger">Error message</small>
            <label class="form-check-label" th:text="${role}"></label>
          </div>

          <button type="submit" class="btn btn-secondary">Обновить</button>
        </form>


      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>