<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-4">
                <h3 class="text-dark" th:text="${model.base.pageTitle}">Пользователи</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2">
                <div th:replace="fragments/admin-navbar">AdminNavbar</div>
            </div>
            <div class="col-md-10">
                <div class="jumbotron text-start rounded col-md-10 align-self-center pt-3">
                    <div th:if="${not #lists.isEmpty(model.users)}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Фамилия</th>
                                <th>Имя</th>
                                <th>Город</th>
                                <th>Телефон</th>
                                <th>Почта</th>
                                <th>Число заказов</th>
                                <th>Скидка</th>
                                <th>Роль</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${model.users}">
                                <td th:text="${user.lastName}">Фамилия</td>
                                <td th:text="${user.name}">Имя</td>
                                <td th:text="${user.city}">Город</td>
                                <td th:text="'+' + ${user.phone}">Телефон</td>
                                <td th:text="${user.email}">Почта</td>
                                <td th:text="${user.numOrders}">Число заказов</td>
                                <td th:text="${user.discount}">Скидка</td>
                                <td>
                                    <span th:each="r : ${user.role}">
                                        <span th:text="${r}"></span>
                                        <br />
                                    </span>
                                </td>

                                <td sec:authorize="hasRole('ROLE_ADMIN')">
                                    <div class="text-center mb-3">
                                        <a th:href="@{/admin/users/edit(id=${user.id})}"
                                           class="btn btn-primary btn-sm me-1">Редактировать</a>
                                    <a class="btn btn-danger btn-sm me-1"
                                       th:href="@{/admin/users/delete(id=${user.id})}"
                                       onclick="return confirm('Вы уверены, что хотите удалить пользователя?');">Удалить</a>
                                    </div>
                                </td>
                            </tr>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>