<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Добавить пользователя</h1>
        </div>
        <form th:action="@{/admin/users/create}"
              th:method="post"
              th:object="${form}"
              class="m-md-auto w-50 pb-3">
          <div class="mb-3">
            <label class="form-label" for="lastName">Фамилия</label>
            <input th:field="*{lastName}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control text-center"
                   id="lastName"/>
            <small th:if="${#fields.hasErrors('lastName')}"
                   th:errors="*{lastName}"
                   class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="name">Имя</label>
            <input th:field="*{name}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control text-center"
                   id="name"/>
            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                   class="text-danger">Error message</small>
          </div>
          <div class="mb-3">
            <label class="form-label" for="phone">Телефон</label>
            <div class="input-group">
              <span class="input-group-text">+</span>
              <input th:field="*{phone}"
                     th:errorclass="is-invalid"
                     type="text"
                     class="form-control text-center"
                     id="phone"
              />
            </div>
            <small th:if="${#fields.hasErrors('phone')}"
                   th:errors="*{phone}"
                   class="text-danger">Error message</small>
          </div>


          <div class="mb-3">
            <label class="form-label" for="email">E-mail</label>
            <input th:field="*{email}"
                   th:errorclass="is-invalid"
                   type="email"
                   class="form-control text-center"
                   id="email"/>
            <small th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"
                   class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="city">Город</label>
            <select th:field="*{city}" class="form-control" id="city">
              <option value="" disabled selected>Выберите город</option>
              <option th:each="city : ${cities}"
                      th:value="${city.id}"
                      th:text="${city.name}"></option>
            </select>
            <small th:if="${#fields.hasErrors('city')}"
                   th:errors="*{city}"
                   class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="password">Пароль</label>
            <input th:field="*{password}"
                   th:errorclass="is-invalid"
                   type="password"
                   class="form-control text-center"
                   id="password"/>
            <small th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"
                   class="text-danger">Error message</small>
          </div>
          <div th:if="${errorMessage}">
            <p style="color:red;">Ошибка: <span th:text="${errorMessage}"></span></p>
          </div>

          <form th:action="@{/register}" method="post">
            <button type="submit" class="btn btn-secondary">Создать услугу</button>
          </form>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>