<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Редактировать филиал</h1>
        </div>
        <form th:action="@{/admin/branches/edit(id=${id})}"
              th:method="post"
              th:object="${form}"
              class="m-md-auto w-50 pb-3">
          <div class="mb-3">
            <label class="form-label" for="name">Название</label>
            <input th:field="*{name}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control text-center"
                   id="name"/>
            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                   class="text-danger">Error message</small>
          </div>
          <div class="mb-3">
            <label class="form-label" for="city">Город</label>
            <select th:field="*{city}" class="form-control" id="city">
              <option value="" disabled selected>Выберите город</option>
              <option th:each="city : ${cities}"
                      th:value="${city.id}"
                      th:text="${city.name}"></option>
            </select>
            <small th:if="${#fields.hasErrors('city')}"
                   th:errors="*{city}"
                   class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="address">Адрес</label>
            <input th:field="*{address}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control text-center"
                   id="address"/>
            <small th:if="${#fields.hasErrors('address')}"
                   th:errors="*{address}"
                   class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="phone">Телефон</label>
            <div class="input-group">
              <span class="input-group-text">+</span>
              <input th:field="*{phone}"
                     th:errorclass="is-invalid"
                     type="text"
                     class="form-control text-center"
                     id="phone"
              />
            </div>
            <small th:if="${#fields.hasErrors('phone')}"
                   th:errors="*{phone}"
                   class="text-danger">Error message</small>
          </div>
          <button type="submit" class="btn btn-secondary">Обновить</button>
        </form>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>