<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">

    <div class="container">
        <h3 class="text-center text-dark mt-5" th:text="${model.base.pageTitle}"></h3>
        <div class="row mt-3">
            <div class="col-md-2">
                <nav>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/profile" class="nav-link">Профиль</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/profile/orders" class="nav-link">История заказов</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="jumbotron text-start rounded col-md-10 align-self-center pt-5">
                <div th:if="${model.orders != null and not #lists.isEmpty(model.orders)}">
                    <div th:each="order : ${model.orders}"
                         class="d-flex flex-column bg-light mb-3 p-3 border rounded">
                        <h5 th:text="'Дата: ' + ${order.date} + '   ' + ${order.status}">Дата и статус</h5>
                        <p th:text="'Филиал: ' + ${order.branchName} + ' ('+ ${order.branchCity} + ', ' +  ${order.branchAddress} + ')'">Название филиала</p>
                        <p th:text="'Стоимость: ' + ${order.cost} + ' ₽'">Стоимость</p>
                        <div th:if="${not #lists.isEmpty(order.orderPositions)}">
                            <h5>Позиции заказа:</h5>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Изделие</th>
                                    <th>Услуга</th>
                                    <th>Количество</th>
                                    <th>Сумма</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="position : ${order.orderPositions}">
                                    <td th:text="${position.product} + ', материал: ' + ${position.material}"  >Изделие</td>
                                    <td th:text="${position.service}">Услуга</td>
                                    <td th:text="${position.number}">Количество</td>
                                    <td th:text="${position.amount + ' ₽'}">Сумма</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${order.status == 'Завершен' and not order.hasReview}">
                            <a th:href="@{/profile/review(orderId=${order.id})}"
                               class="btn btn-primary">Оставить отзыв</a>
                        </div>
                        <div th:if="${order.status == 'Завершен' and order.hasReview}">
                            <p>Вы уже оставили отзыв</p>
                        </div>
                    </div>
                </div>
                <div th:if="${model.orders == null or #lists.isEmpty(model.orders)}">
                    <p class="text-center">У вас нет заказов</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
